:root{
    --primary-color: #18ffff;
    --secundary-color: #263238;
    --header-color: #00cbcc;
    --footer-color: #76ffff;
    --body-color: #000a12;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
.container{
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
    font-size: 1.6rem;
    margin: .2rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 6rem;
    grid-template-areas: "header"
                         "main"
                         "footer";
    gap: .1rem;
}

.header{
    grid-area: header;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

.header, .footer{
    display: grid;
    border-radius: .5rem;
    color: var(--secundary-color);
    background-color: var(--header-color);
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

.main{
    font-size: 2rem;
    border-radius: 1rem;
    color: var(--secundary-color);
    background-color: var(--primary-color);
    grid-area: main;
    display: grid;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
}

#text_human, #text_binary{
    width: 40rem;
    height: 10rem;
    border-radius: 1rem;
    border-style: none;
    outline-style: none;
    padding: .4rem;
}

.main section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main input {
    display: block;
    margin-top: 1rem;
    text-align: justify;
}

#copy_text, #copy_binary{
    background-color: var(--secundary-color);
    color: var(--footer-color);
    width: 5rem;
    height: 3rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: .6rem;
    border: .2rem solid var(--footer-color);
}

#copy_text:hover, #copy_binary:hover{
    color: var(--body-color);
    background-color: var(--footer-color);
    border: .2rem solid var(--body-color);
}

#translate{
    margin: 0 auto;
    background-color: var(--secundary-color);
    color: var(--footer-color);
    width: 10rem;
    height: 4rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: .6rem;
    border: .2rem solid var(--footer-color);
}

#translate:hover{
    color: var(--body-color);
    background-color: var(--footer-color);
    border: .2rem solid var(--body-color);
}

.footer{
    grid-area: footer;
    display: grid;
}